<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToTheMoon Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>
  <app-header/>
  <button (click)="goToEdit()">Update Profile</button>
  <div class="container">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
  
    <div class="profile-pic-container">
        <div class="profile-pic">
          <i class="fas fa-user"></i>
        </div>
        <input type="file" id="profile-pic-input" accept="image/*">
        <label for="profile-pic-input" class="upload-button">Upload</label>
      </div>
      <div class="info" *ngIf="user">
        <p *ngIf="user.username"><strong>Username:</strong> {{user.username}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
      </div>
     <app-post *ngFor="let post of posts" [post]="post">
     </app-post>
  </div>
  <div class="home-content">
    <div class="create-group">
    <h2>Create Group</h2>
            <form [formGroup]="createGroupForm" (ngSubmit)="createGroup()">
                
              <textarea
              placeholder="Name"
                formControlName="name"
                required
              ></textarea>
              
              <textarea
              placeholder="Description"
                formControlName="description"
                required
              ></textarea>
              <button type="submit">Add</button>
            </form>
        </div>
        <ng-template #viewMode>
        <div class="feed">
            <div *ngFor="let group of groups" class="group">
              <p>{{ group.name }}</p>
              <p>{{group.description}}</p>
              <button (click)="update(group.id)">Update</button>
            </div>
          </div>
        </ng-template>  
          <ng-container *ngIf="isEditing; else viewMode" >
            <form [formGroup]="updateGroupFrom" (ngSubmit)="saveUpdate()">
                
                <textarea placeholder="Name" 
                  formControlName="name"
                  required
                ></textarea>
                <textarea
                placeholder="Description"
                formControlName="description"
                  required
                ></textarea>
                <button type="submit">Add</button>
              </form>
        </ng-container>
    </div>
</body>
</html>

